{:db-env :remote
 :db {:mem {:store {:backend :mem :id "schemaless"}
            :schema-flexibility :read}
      :local {:store {:backend :file
                      :path "./datahike-db"
                      :id "schemaless"}
              :schema-flexibility :read}
      :remote {:store {:backend :jdbc
                       :dbtype "postgresql"
                       :host "aws-0-eu-central-1.pooler.supabase.com"
                       :port 6543
                       :dbname "postgres"
                       :table #env ADH_POSTGRES_TABLE
                       :user #env ADH_POSTGRES_USER
                       :password #env ADH_POSTGRES_PWD
                       :jdbcUrl "jdbc:postgresql://aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require&prepareThreshold=0"}
               :schema-flexibility :read}

      :distributed {}}
 :chat {:all-entities-image "bot.svg"
        :entities [{:id "71e1adbe-2116-478d-92b8-40b10a612d7b"
                    :name "Kunnskapsassistent - DEV"
                    :image "kudos-logo.png"
                    :docs-collection "KUDOS_docs_2024-12-10" 
                    :chunks-collection "KUDOS_chunks_2024-12-10" 
                    :phrases-collection "KUDOS_phrases_2024-12-10" 
                    :phrase-gen-prompt "keyword-search"
                    :reasoning-languages ["en" "no"]
                    :prompt ""}]}}

